<p id="notice"><%= notice %></p>

<%= link_to 'Clear', :controller => 'cart', :action => 'clear' %>
<%= link_to 'Destroy', @cart, :confirm => 'Are you sure?', :method => :delete %>

<table>
  <tr>
    <th>prodotto</th>
    <th>quantita</th>
    <th></th>
    <th></th>
  </tr>

<% @cart.cart_items.each do |ci| %>
	<%= render :partial => 'cart/item', :ci => ci%>  
    
<%
=begin 
%>

<tr>
    <td><%= ci.product_id %></td>
    <td><%= ci.quantity %></td>
    <td><%= link_to 'Show', product(ci.product_id) %></td>
    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
    <td><%= link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete %></td>
</tr>
<% 
=end 
%>    
    

<% end %>
</table>