<div class = 'cart'>

<p id="notice"><%= notice %></p>

<table>  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cart.cart_items.each do |ci| %>
  <tr>
    <td><%= ci.product_id %></td>
    <td><%= ci.quantity %></td>
    <td><%= link_to 'Show', product(ci.product_id) %></td>
    <td><%= link_to 'Edit', edit_cart_path(cart) %></td>
    <td><%= link_to 'Destroy', cart, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
</div>